<div class="page container" id="<%= @page_title.downcase %>">
	<article>
		<header class="page-header">
			<h1 class="page-title"><%= @page_title %></h1>
		</header>
		<section>
			<div class="row">
				<div class="col-xs-12 col-md-2">
					<%= link_to 'http://www.motorolasolutions.com/en_us.html', target: '_blank'  do %>
						<div class="experience-image-wrapper">
							<%= image_tag('https://s3.amazonaws.com/camronkhan/images/msi-logo.png', alt: 'Motorola Solutions', class: 'experience-image' ) %>
						</div>
					<% end %>
				</div>
				<div class="col-xs-12 col-md-10">
					<h2>Instructional Design &amp; Training Specialist <small>2014-Present</small></h2>
					<h3>Motorola Solutions <small>Schaumburg, IL</small></h3>
					<h4>Responsibilities</h4>
					<ul>
						<li>Leads a global virtual training program to communicate regular business process updates.</li>
						<li>Works with business partners to determine business requirements and translate them to training requirements.</li>
						<li>Engages subject matter experts to identify process gaps and obtain complex domain knowledge.</li>
						<li>Develops and maintains technical and non-technical process and training documentation.</li>
					</ul>
					<h4>Transferrable Skills</h4>
					<ul>
						<li>Collaboration</li>
						<li>Leadership</li>
						<li>Documentation &amp; Version Control</li>
						<li>Flexibility</li>
					</ul>
					<h4>Recognition</h4>
					<ul>
						<li>2016 Coming In First Award</li>
						<li>2014 My Moment Award</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-2">
					<%= link_to 'http://www.motorolasolutions.com/en_us.html', target: '_blank' do %>
						<div class="experience-image-wrapper">
							<%= image_tag('https://s3.amazonaws.com/camronkhan/images/msi-logo.png', alt: 'Motorola Solutions', class: 'experience-image' ) %>
						</div>
					<% end %>
				</div>
				<div class="col-xs-12 col-md-10">
					<h2>Customer Service Representative <small>2012-2014</small></h2>
					<h3>Motorola Solutions <small>Schaumburg, IL</small></h3>
					<h4>Responsibilities</h4>
					<ul>
						<li>Demonstrated exemplary customer service to both internal and external customers.</li>
						<li>Utilized a ticketing system to access, resolve, and follow up on customer issues.</li>
						<li>Provided Level 1 support for portal access, hardware specs, ordering, and dispatch services.</li>
						<li>Analyzed issues to determine root cause and identified appropriate solutions or escalations.</li>
					</ul>
					<h4>Transferrable Skills</h4>
					<ul>
						<li>Customer Service</li>
						<li>Problem Solving</li>
						<li>Written &amp; Verbal Communication</li>
						<li>Attention to Detail</li>
					</ul>
					<h4>Recognition</h4>
					<ul>
						<li>2013 Coming In First Award</li>
					</ul>
				</div>
			</div>
		</section>
	</article>
</div>