<!DOCTYPE html>
<html>
	<head>
		<title><%= @page_title %> | Camron Khan ePortfolio</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<%= render partial: 'layouts/nav' %>
		<main id="main">
			<%= render partial: 'layouts/page' %>
		</main>
		<%= render partial: 'layouts/footer' %>
	</body>
</html>

<% console %>